@{
    Layout = null;
}

@await Component.InvokeAsync("_UILayoutWebUIHeadComponentPartial")
<body>
    @await Component.InvokeAsync("_UILayoutWebUIPreloaderComponentPartial")

    @await Component.InvokeAsync("_UILayoutWebUILoginModalComponentPartial")

    @await Component.InvokeAsync("_UILayoutWebUIRegisterModalComponentPartial")

    @await Component.InvokeAsync("_UILayoutWebUINavBarComponentPartial")

    @await Component.InvokeAsync("_UILayoutWebUIHeroComponentPartial")

   @RenderBody()

    @await Component.InvokeAsync("_UILayoutWebUIFooterComponentPartial")

    @await Component.InvokeAsync("_UILayoutWebUIScriptComponentPartial")
</body>

</html>
